@import "../App/vars.scss";

.wrapper__container {
  flex: 1 1 auto;
}

.person__container {
  display: flex;
  flex: 1 1 auto;
  min-width: 75%;
  flex-direction: column;
  list-style: none;
}

.person__content {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.person__item {
  display: flex;
  border: 1px solid white;
  gap: 9px;
}

.person__name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  flex: 0 1 auto;
  background-color: $colorName;
  border-bottom: solid 1px #fff;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}

.person__task {
  width: 150px;
  min-height: 99px;
  border-bottom: solid 1px #d7dbdd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.person__date {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding-left: 10px;
  margin-left: 100px;
  padding-right: 10px;
}

.table__date {
  display: flex;
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid $colorDark;
  min-height: 10px;
  border-bottom: solid 1px #d7dbdd;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.calendar__button {
  min-width: 25px;
  transition: 0.3s;
  &:hover {
    background-color: $colorName;
    color: #fff;
  }
}
.backlog__box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #35c06f;
  font-size: 12px;
  padding: 4px;
  color: black;
  margin-bottom: 2px;
  position: relative;
}

.backlog__box:after {
  display: flex;
  position: absolute;
  content: attr(data-name);
  visibility: hidden;
  text-align: center;
  margin-bottom: -58px;
  z-index: 17;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 2px;
  border: 1px solid #333;
}

.backlog__box:hover:after {
  visibility: visible;
}

.selected {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .backlog__container {
    display: none;
  }

  .person__name {
    font-size: 11px;
  }

  .table__date {
    font-size: 11px;
  }

  .backlog__box {
    font-size: 10px;
    // width: 76px;
    padding: 1px;
  }
}

@media (max-width: 425px) {
  .person__name {
    font-size: 10px;
    writing-mode: vertical-rl;
    min-width: 30px;
  }

  .table__date {
    font-size: 10px;
  }

  .person__task {
    min-height: 0px;
  }

  .person__item {
    gap: 0;
  }

  .person__date {
    margin-left: 25px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
